@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.main__products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightblue;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Roboto";
  border: 8px solid lightblue;
  background-color: lightblue;
}
.header__title {
  font-size: 60px;
  padding-top: 10px;
  border-radius: 15px;
  color: black;
}
.header__title--slashOne {
  color: #f056bf;
}
.header__title--slashTwo {
  color: greenyellow;
}
.header__title--slashThree {
  color: orange;
}