@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.nav {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border-bottom: 5px solid black;
  padding-bottom: 10px;
}
.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 20%;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}
.nav__item:hover {
  border: 2px solid orange;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Roboto";
}
.header__title {
  font-size: 60px;
  padding-top: 10px;
  border-radius: 15px;
  color: black;
}
.header__title--slashOne {
  color: #f056bf;
}
.header__title--slashTwo {
  color: greenyellow;
}
.header__title--slashThree {
  color: orange;
}